%h1 About

%p
  This is based on an exercise from Grandmaster Bones where she had us draw three moves out of a bag. The order you drew them in is the order of your combo.

%p
  Several ways to practice.
  Hone in on each technique. Extension. Flow.
  Pretend this combo is part of a form.
  Do it fast. Do it slow.
  Find a way to make them flow together.
  Think about how you can apply them to a real attacker. What about two attackers?
  How would you use these moves to apply forward pressure?
  What about retreating, or moving off the line.
  Imagine only using these moves in sparring (in any order)
