@import 'variables';
@import 'components';
@import 'top_nav';
@import 'footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: $background-white;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.fixed-width-container {
  max-width: 1000px;
  margin: auto;
  flex: auto;
  padding: 0 15px;
}

.small-container {
  max-width: 500px;
  margin: auto;
}

.pre {
  white-space: pre-wrap;
  text-align: left;
}

h1 {
  font-family: 'Sigmar One', sans-serif;
  color: $black;
}
